@import url(https://fonts.googleapis.com/css?family=Material+Icons|Roboto:400);

@keyframes line-anim {
    75% {
        
        transform: rotate(0);
    }
    100% {
       
        transform: rotate(0);
    }
}
@keyframes btn-focus-anim {
   /* 0% {
        box-shadow: 0 0 0 85px #673AB7;
    }
    100% {
        box-shadow: 0 0 0 100px #003056;
    }*/
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 10vw;/* Preferred icon size */
  display: inline-block;
 
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;/* Support for all WebKit browsers. */
  vertical-align: sub;
  -webkit-font-smoothing: antialiased;/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;/* Support for IE. */
  font-feature-settings: 'liga';
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}
html, body {
    background: rgb(0, 5, 34);
    text-decoration: none;
   /* overflow: hidden*/}
form {
    
   /* width: 700px;*/
    height: 200px;
    
 #nav{
   background: rgb(0, 5, 34);
 }   
    
    
    
}
#sbx {
   
    
   margin-top: 80px;
    border: none;
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}
#sbx:focus ~ #btn {
    color: white;
    text-indent: 6px;
    transition: .2s .4s;
}
#sbx:focus ~ #line {
    animation: line-anim .5s both;
}
#sbx:focus::-webkit-input-placeholder {
    text-indent: 100%;
}
#sbx:focus::-moz-placeholder {
    text-align: right;
}
#btn {
    width: 96px;
    height: 90px;
    background: rgb(0, 5, 34);
    color: transparent;
    font-size: 48px;
    text-indent: -100%;
    vertical-align: middle;
    border: 6px solid white;
    border-radius: 50%;
    margin-left: -10%;

}
#btn:focus {
    text-indent: 6px;
    color: white;
    animation: btn-focus-anim .2s both;
}
